.dialogSidePanel {
  position: relative;
  width: 368px;
  height: calc(100% - $topbar-height);
  display: flex;
  flex-direction: column;
  .left {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .textarea {
    @include b1;
    min-height: 160px;
    max-height: 160px;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    padding: 24px;
    color: $text3;
    &::-webkit-input-placeholder, /* Webkit based */
    &::placeholder {
      color: $text3;
      opacity: 0.4;
    }
  }
}

.container {
  position: relative;
  width: 368px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 24px 24px;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
  background-color: $bcgrnd2;
  &__container {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    height: fit-content;
    width: 100%;
    justify-content: flex-end;
    &_bot {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__message {
    @include b2;
    background-color: $bcgrnd3;
    padding: 12px;
    border-radius: 12px 12px 0px 12px;
    width: fit-content;

    &_bot {
      background: rgba(255, 204, 0, 0.1);
      border-radius: 12px 12px 12px 0px;
      display: flex;
      flex-direction: column;
      .skill {
        @include b4;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.right {
  .right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 18px;
  }
}
.start,
.error {
  display: flex;
  font-display: column;
  gap: 16px;
  padding: 52px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.alertName {
  @include t2;
}
.alertDesc {
  @include b3;
}

.runTest {
  margin-top: 24px;
}
.error {
  color: #ff3b30;
}
.deployPanel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .notification {
      text-align: center;
      width: 264px;
      color: $text1;
      @include t2;
    }
    .annotation {
      text-align: center;
      width: 264px;
      color: $text1;
      @include b3;
    }
  }
}
.await {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-self: center;
  gap: 32px;
  width: 300px;
  .notification {
    text-align: center;
  }
}
.link {
  margin-bottom: 24px;
  button {
    padding: 0;
    min-height: fit-content;
    height: fit-content;
  }
}



.loaderWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  place-content: center;
}
