.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 3px 8px;
  gap: 10px;
  background: #fff;
  border: 1px solid #8d96b5;
  svg {
    stroke: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    @include icon_size_12;
  }
  p {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    @include lnks_n_btns3;
  }
}
.disabled {
  @include disabled;
}
