<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./index.css" />
	</head>
	<body>
		<div class="mail">
    {% block header %} {% endblock %}
			<main class="main">{% block content %} {% endblock %}</main>
			<footer class="footer">
				<ul>
					<li>
						Sent by
						<a href=""> DreamBuilder</a>
					</li>
					<li>
						<a href="">Terms & Conditions</a>
					</li>
					<li>
						<a href="">Privacy policy</a>
					</li>
					<li>
						<a href="">Help Center</a>
					</li>
				</ul>
			</footer>
		</div>
	</body>
</html>
