.skillPromptModal {
  max-width: 957px;
  width: 1085px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  textArea {
    max-height: 329px;
    height: 329px;
  }
}

.top {
  display: flex;
  column-gap: 24px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-end;
}

.tip {
  @include b3;
  color: $text3;
}

.tip-bold {
  @include t4;
  color: $text3;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 24px;
}

.history {
  margin-right: auto;
}
