.skillPromptModal {
  display: flex;
  height: 100%;
  padding: 40px;
  background-color: transparent;
  transition: margin 0.3s linear;
}

.container {
  display: flex;
  grid-row: 2;
  height: 100%;
  width: 100%;
  gap: 25px;
}

.dialog {
  padding-top: 74px;
  height: 100%;
}

.editor {
  display: flex;
  background-color: $bcgrnd3;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.withSidePanel {
  margin-left: 368px;
}

.editor-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 24px;
  // padding: 0 64px 24px 64px;
}

.header {
  @include t1;
  margin-bottom: 16px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;

  a {
    width: fit-content;
    text-decoration: underline;
  }

  .tip,
  .tip-bold {
    display: flex;
    flex-direction: column;
    color: $text2;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.tip {
  @include b3;
  color: $text3;
  padding-right: 48px;
}

.tip-bold {
  @include t4;
  color: $text3;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 24px;
}

.history {
  margin-right: auto;
}
