.skillPromptModal {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $bcgrnd3;
  padding: 48px 64px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;

  .tip,
  .tip-bold {
    color: $text2;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-end;
  margin-top: 54px;
}

.tip {
  @include b3;
  color: $text3;
}

.tip-bold {
  @include t4;
  color: $text3;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 24px;
}

.history {
  margin-right: auto;
}
