.clone {
  padding: 0px 14px;
  .container {
    display: flex;
    gap: 8px;
    span {
      padding-left: 4px;
    }
    svg {
      @include icon_size_24;
      stroke: #000;
    }
    .circle {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      @include icon_size_24;
    }
    .circle.edit {
      background-color: #8D96B5;
      color: #fff;
    }
    .circle.preview {
      background-color: #fff;
      color: $text1;
    }
  }
}
