.button {
  min-height: 48px;
  height: fit-content;
  width: fit-content;
  padding: 11px 24px;
  border-radius: 12px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include lnks_n_btns3;

  svg {
    @include icon_size_24;
  }
  &:disabled {
    &:hover {
      box-shadow: none;
    }
    cursor: default;
    opacity: 0.3;
  }

  &_tiny {
    min-height: 28px;
    padding: 2px 8px;
    border-radius: 8px;
    @include lnks_n_btns6;
  }

  &_small {
    min-height: 36px;
    border-radius: 8px;
    padding: 6px 24px;
    @include lnks_n_btns5;
  }

  &_long {
    width: 100%;
  }

  &_with-icon {
    padding: 6px;
  }

  &_clone {
    padding: 0px 12px;
  }

  &_theme {
    &_primary {
      background-color: $primary1;
      color: $text4;

      &:hover {
        box-shadow: 0px 8px 15px rgba(14, 1, 66, 0.15);
      }
      &:active {
        background-color: $primary4;
      }

      &_small:hover {
        box-shadow: 0px 0px 0px 3px rgba(41, 0, 204, 0.3);
      }

      svg path {
        stroke: $text4;
      }
    }
    &_purple {
      @extend .button_theme_primary;
      background-color: $purple;
      padding: 12px;
      &:active,
      &:hover {
        background-color: #5a00cc;
      }
    }
    &_secondary {
      background-color: $bcgrnd5;
      color: $text1;

      &:hover {
        box-shadow: 0px 8px 15px rgba(14, 1, 66, 0.15);
      }

      &:active,
      &:focus {
        background: #cfd3e2;
      }

      &_small {
        &:hover,
        &:focus {
          box-shadow: 0px 0px 0px 3px rgba(41, 0, 204, 0.3);
        }
      }

      > svg path {
        stroke: $text1;
      }
    }

    &_secondary-dark {
      background-color: $primary4;
      color: $text4;

      &:hover {
        box-shadow: 0px 8px 15px rgba(14, 1, 66, 0.15);
      }

      &:active {
        background: #0f004d;
      }

      > svg path {
        stroke: $text4;
      }
    }
    &_secondary-light {
      background-color: $bcgrnd3;
      color: $text1;

      &:hover {
        box-shadow: 0px 8px 15px rgba(14, 1, 66, 0.15);
      }

      &:active {
        background: $bcgrnd3;
      }

      > svg path {
        stroke: $text4;
      }
    }

    &_stack {
      background-color: transparent;
      min-width: 24px;
      min-height: 24px;
      padding: 0;
      border-radius: 4px;

      &:hover {
        background-color: $bcgrnd3;
        box-shadow: 0px 0px 0px 3px rgba(41, 0, 204, 0.3);
      }

      &:active,
      &:focus {
        background-color: #d5d5dd;
        box-shadow: 0px 0px 0px 3px rgba(41, 0, 204, 0.3);
      }
    }

    &_tertiary {
      min-height: 28px;
      padding: 9px 6px;
      gap: 4px;
      border-radius: 0;
      border: 1px solid $text3;
      background-color: $bcgrnd1;
      color: $text2;

      &:hover,
      &:focus-visible {
        background-color: $primary1;
        border-color: $text4;
        color: $text4;

        svg path {
          stroke: $text4;
        }
      }

      &:active {
        background-color: $primary4;
        border-color: $text4;
        color: $text4;

        svg path {
          stroke: $text4;
        }
      }

      svg {
        @include icon_size_24;

        path {
          stroke: $text2;
        }
      }

      &_small {
        padding: 2px 8px;
        border-radius: 8px;
        background-color: $secondary_btn;
        border: 1px solid $secondary_btn;
        color: $text1;
        @include lnks_n_btns6;

        &:hover,
        &:focus-visible {
          outline: none;
          background-color: $secondary_btn;
          color: $text1;
          border-color: #3300ff;
        }

        &:active {
          border-color: $secondary_btn;
          color: $text3;

          svg path {
            stroke: $text3;
          }
        }
      }
    }

    &_tertiary-round {
      @extend .button_theme_tertiary;
      border-radius: 12px;

      &_small {
        padding: 5px 10px;
      }
    }

    &_tertiary2 {
      min-height: 28px;
      padding: 12px;
      gap: 4px;
      border-radius: 12px;
      border: 1px solid $text3;
      background-color: $bcgrnd1;
      color: $text2;
      svg {
        @include icon_size_24;
        path {
          stroke: $text2;
        }
      }
      &:hover,
      &:focus-visible {
        border-color: $text5;
        color: $text5;
        svg {
          path {
            stroke: $text5;
          }
        }
      }
    }

    &_ghost {
      @include b3;
      text-decoration-line: underline;
      color: $primary1;
      gap: 12px;

      &:disabled {
        color: $text3;
      }

      &:hover,
      &:active {
        color: $primary4;
      }
    }

    &_error {
      @extend .button_theme_primary;
      background-color: $red;
      &:active {
        background-color: #b20000;
      }
    }
  }

  &__icon {
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    height: 100%;
  }

  &_theme_tertiary_small &__icon path {
    stroke: $text1;
  }

  &_theme_ghost &__icon path {
    fill: $primary1;
  }

  &_theme_ghost:disabled &__icon path {
    fill: $text3;
  }

  &_theme_ghost:hover &__icon path,
  &_theme_ghost:active &__icon path {
    fill: $primary4;
  }

  &.loader {
    border-radius: 12px !important;
    z-index: 1;
    background: linear-gradient(
        0deg,
        rgba(112, 0, 255, 0.4),
        rgba(112, 0, 255, 0.4)
      ),
      #ffffff;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';

      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $purple;
      top: 0;
      left: 0;
      animation: indeterminateAnimation 10s infinite linear;
      z-index: -1;
      transform-origin: 0% 50%;
    }
    @keyframes indeterminateAnimation {
      0% {
        transform: translateX(0) scaleX(0);
      }
      50% {
        transform: translateX(0) scaleX(1);
      }
      100% {
        transform: translateX(100%) scaleX(1);
      }
    }
  }
}
