$color1: #f4f4f4;
$color2: #3300ff;

.label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  @include b3;
  color: $text2;
  cursor: pointer;

  &:hover {
    color: $text6 !important;

    input {
      background-color: $text6 !important;
      box-shadow: inset 0 0 0 calc(1.5 / 16) + rem $color1;
      border-color: $text6 !important;
    }
  }

  &:active {
    color: $color2 !important;

    input {
      background-color: $color2 !important;
      box-shadow: inset 0 0 0 calc(1.5 / 16) + rem $color1;
      border-color: $color2 !important;
    }
  }

  &:has(input:checked) {
    color: $color2;
  }

  input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 100%;
    border: calc(1.5 / 16) + rem solid $text2;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    transition: all 150ms ease;
    cursor: pointer;

    &:checked {
      background-color: $color2;
      box-shadow: inset 0 0 0 calc(1.5 / 16) + rem $color1;
      border-color: $color2;
    }

    + & {
      &:empty {
        margin-right: 0;
      }
    }
  }
}