.areYouSure {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
}

.desc {
  @include t3;
  color: $text3;
  margin-top: 8px;
  margin-bottom: 12px;
}
