.smallTag {
  @include b4;
  height: fit-content;
  width: fit-content;
  padding: 2px 6px;
  border-radius: 4px;
  color: $primary1;
  border: 1px solid $primary1;
  background: rgba(51, 0, 255, 0.1);
  display: flex;
  align-items: center;
}

.text-capitalize .text {
  display: block;
  &::first-letter {
    text-transform: uppercase;
  }
  white-space: nowrap;
}

.icon {
  min-width: 24px;
  min-height: 22px;
  max-width: 24px;
  max-height: 22px;
  margin-right: 2px;
}

.success {
  color: $salad;
  border-color: $salad;
  background: rgba(0, 204, 153, 0.1);
}

.version {
  color: $orange;
  border-color: $orange;
  background: rgba(255, 149, 0, 0.1);
}

.error {
  color: $red;
  border-color: $red;
  background: rgba(255, 51, 51, 0.1);
}

.valid {
  @extend .success;
  .icon path {
    stroke: $salad;
  }
}

.validating {
  color: $pink;
  border-color: $pink;
  background: rgba(204, 102, 204, 0.1);

  .icon {
    -webkit-animation: loader-1-1 2s linear infinite;
    animation: loader-1-1 2s linear infinite;
    // loader backgorund
    path:first-child {
      fill: $pink;
    }
    // loader proggress line
    path:last-child {
      fill: $pink;
    }
  }
}

.not-valid {
  @extend .error;
  .icon path {
    stroke: $red;
  }
}

.valid,
.validating,
.not-valid {
  @extend .text-capitalize;
  padding: 0px 6px;
}

.public,
.your,
.PRIVATE,
.PUBLIC_TEMPLATE,
.UNLISTED_LINK {
  @extend .text-capitalize;
  font-size: 10px;
  padding: 4px 8px 4px 4px;
  font-weight: 600;

  .icon {
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    margin-right: 4px;
  }
}

.public,
.PUBLIC_TEMPLATE {
  @extend .success;
  color: #009973;

  .icon path {
    stroke: #009973;
  }
}

.UNLISTED_LINK {
  @extend .version;
  color: #ff9500;
  .icon path {
    stroke: #ff9500;
  }
}

.your,
.PRIVATE {
  background: #8d96b51a;
  border-color: $text3;
  color: $text3;

  .icon path {
    fill: $text3;
  }
}

.loading {
  // Dots animation
  &::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: dotsAnimation steps(4, end) 900ms infinite;
    animation: dotsAnimation steps(4, end) 900ms infinite;
    content: '\2026';
    width: 0px;
  }
}

@keyframes dotsAnimation {
  to {
    width: 25%;
  }
}

@-webkit-keyframes dotsAnimation {
  to {
    width: 25%;
  }
}

@-webkit-keyframes loader-1-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader-1-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
