@import '../../styles/index.scss';

.tr {
  border-top: 1px solid #f0f0f3;
  gap: 32px;
  height: 64px;
  padding: 12px;
  @include tr_behavior;
  .td {
    &:nth-child(2) {
      padding-left: 0;
    }
    border: none;
    text-align: start;
    max-height: 64px;
    background: #fff;
    color: #313030;
    padding: 0px 24px;
    svg {
      fill: rgba(0, 0, 0, 0.7);
      @include icon_size_24;
    }
  }
  .checkboxArea {
    background: #fff;
    padding-left: 24px;
  }
}
.description {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  @include b3;
  .tooltips {
    @include tooltip;
  }
}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  svg {
    @include icon_size_24;
  }
  p {
    display: flex;
    align-items: center;
    color: #3300ff;
    @include b3;
  }
}
.name {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  .botName {
    color: rgba(0, 0, 0, 0.7);
    @include t4;
  }
  .params {
    flex-wrap: nowrap;
    color: rgba(0, 0, 0, 0.7);
    @include b5;
  }
}
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding-top: 12px;
  .ddmmyyyy {
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.7);
    @include t4;
  }
  .time {
    @include b4;
    color: rgba(0, 0, 0, 0.7);
  }
}
.btns_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #f0f0f3;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #3300ff;
    cursor: pointer;
    svg {
      fill: #fff;
    }
  }
}
