.skillPromptModal {
  display: flex;
  flex-direction: column;
  width: 1085px;
  max-width: 957px;
  gap: 24px;

  textArea {
    max-height: 373px;
    height: 351px;
  }
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 24px;
  margin-top: 8px;
}
