@import '../../styles/index.scss';

.scroll {
  width: 100%;
  max-height: 480px;
  overflow: auto;
  overscroll-behavior: none;
  border-radius: 12px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.thead {
  tr {
    @include sticky;
  }
}
.th {
  padding: 24px 24px 8px;
  background: #ffffff;
  color: #8d96b5;
  text-align: start;
  border: none;
  @include b3;
}
