@import '../../styles/index.scss';

.table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}
.th {
  padding: 24px 24px 8px;
  background: #ffffff;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #8d96b5;
  text-align: start;
  border: none;
}
.thead {
  border: none;
}
