.container {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 0;
  input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    &:checked ~ .checkmark {
      background-color: $primary1;
      border-color: $primary1;
      &:after {
        display: block;
      }
    }
  }
  &:hover {
    .checkmark {
      border-color: $primary1;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.7);
    border-radius: 6px;

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 6.5px;
      top: 2.5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      border-radius: 1px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
