.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  gap: 16px;
  overflow: auto;
}
.gridForCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  overflow: visible; // ???
}
.gridForRequests{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.layoutForTabs {
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  overflow: visible;
}
.heightAuto {
  height: auto;
}
.overflowForAddButton {
  overflow: visible;
}
.scroll {overflow: scroll;
  // display: flex;
  // flex-direction: row; 
}
