.icon {
  position: relative;
  cursor: pointer;
  width: $sidebar-width;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding-top: 10px;

  img {
    height: 36px;
    width: 36px;
  }
  &:hover {
    @extend .active;
  }
}

.active {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: $yellow;
    border-radius: 50%;
  }
  &:hover {
    &::before {
      background-color: $text5;
    }
  }
}

.iconError {
  width: 24px;
  height: 24px;
  .count {
    position: absolute;
    top: 6px;
    border-radius: 7px;
    left: 43px;
    width: max-content;
    padding: 1px;
    font-size: 11px;
    min-width: 15px;

    &.error {
      background: #ff3333;
    }

    &.warning {
      background: #ff9500;
    }
  }
}
