.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80px;
  &__picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $text3;
  }
}
.arrow {
  cursor: pointer;
  stroke: #8d96b5;
  fill: #8d96b5;
  @include icon_size_24;
  &:hover {
    fill: #3300ff;
    stroke: #3300ff;
  }
  &:active {
    fill: #190080;
    stroke: #190080;
  }
  &:disabled {
    opacity: 0.3;
  }
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  opacity: 1 !important;
  padding: 12px 0px;
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 0px 24px;
    cursor: pointer;
    &:hover {
      background: $bcgrnd3;
      p {
        color: rgba(0, 0, 0, 0.7);
      }
    }
    p {
      padding: 8px 0px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      cursor: pointer;
    }
    svg {
      stroke: rgba(0, 0, 0, 0.9);
      @include icon_size_24;
    }
  }
}
.profile_menu {
  position: absolute;
  top: calc(100% + 13px);
  width: 264px;
  padding: 0px !important;
  color: rgba(0, 0, 0, 0.9) !important;
  background: #fff !important;
  border-radius: 8px !important;
  box-shadow: 0px 0px 20px rgba(100, 99, 99, 0.15);
  opacity: 1 !important;
  border: none !important;
  &::after {
    left: 84% !important;
    background: #fff !important;
  }
}
