@import '../../styles/index.scss';

.avatar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80px;
  img {
    width: 40px;
    height: 40px;
  }
  .arrow {
    cursor: pointer;
    stroke: #8d96b5;
    fill: #8d96b5;
    @include icon_size_24;
    &:hover {
      fill: #3300ff;
      stroke: #3300ff;
    }
    &:active {
      fill: #190080;
      stroke: #190080;
    }
    &:disabled {
      opacity: 0.3;
    }
  }
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  opacity: 1 !important;
  padding: 12px 0px;
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 0px 24px;
    &:hover {
      background: #f9fafc;
      p {
        color: rgba(0, 0, 0, 0.7);
        // color: #fff;
      }
      // color: #fff;
    }
    p {
      padding: 8px 0px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      cursor: pointer;
    }
    svg {
      stroke: rgba(0, 0, 0, 0.9);
      @include icon_size_24;
    }
    // &:hover {
    //   // color: #fff;
    // }
  }
}

.tooltip_menu {
  width: 264px;
  padding: 0px !important;
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 160% !important;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.9) !important;
  background: #8d96b5 !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 8px !important;
  background: #8d96b5 !important;
  box-shadow: 0px 0px 20px rgba(100, 99, 99, 0.15);
  border-radius: 8px !important;
  opacity: 1 !important;
  &::after {
    left: 84% !important;
  }
}
