.switch {
}

.btn-color-mode-switch {
  position: relative;
  display: flex;
  background-color: $bcgrnd3;
  border-radius: 16px;
  padding: 2px;
  @include b3;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  width: 52px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 1px 8px;
  color: $text2;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  background: $primary1;
  color: $text4;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  padding: 1px 8px;
  transition: all 0.3s ease;
}

.btn-color-mode-switch input[type='checkbox'] {
  cursor: pointer;
  width: 52px;
  height: 28px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch
  input[type='checkbox']:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: calc(100% - 2px);
  background: $primary1;
  color: $text4;
  transform: translateX(-100%);
}

.btn-color-mode-switch
  input[type='checkbox']:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  left: 2px;
}
