.dummyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bcgrnd2;
  padding: 32px;
  .dummy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 252px;
    height: 64px;
    background: rgba(51, 0, 255, 0.05);
    border: 1px solid rgba(31, 53, 255, 0.3);
    border-radius: 40px;
    padding: 16px;
    .line {
      width: 16px;
      height: 0px;
      border-bottom: 1px solid rgba(31, 53, 255, 0.3);
    }
    .message {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: rgba(51, 0, 255, 0.1);
        border-radius: 50%;
        svg {
          width: 19.2px;
          height: 19.2px;
        }
      }
      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 160%;
      }
    }
  }
}