.publishWarningModal {
  display: flex;
  flex-direction: column;
  width: 582px;
  gap: 8px;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgba(51, 0, 255, 0.1);
      svg {
        @include icon_size_24;
      }
    }
    .title {
      color: $primary1;
      @include t1;
    }
  }
  .body {
    .upper {
      color: $text3;
      @include t3;
    }
    .bottom {
      display: flex;
      justify-content: end;
      width: 100%;
      color: $text2;
      @include t3;
    }
  }
  .footer {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100;
    gap: 24px;
  }
  .checkbox {
    padding-top: 32px;
    label {
      color: #8d96b5;
    }
  }
}
