.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bcgrnd1;
  border: 1px solid $bcgrnd5;
  border-radius: 12px;
  padding: 24px;
  gap: 12px;
  .title {
    @include t2;
  }
  .info {
    display: flex;
    flex-direction: column;
    .infoText {
      @include b2;
    }
    .img_container {
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        padding: 12px;
        height: 15rem;
      }
    }
  }
  .cardButton {
    width: 100%;
    @include primary_btn;
    @include large_btn;
    @include lnks_n_btns3;
    @include btn_primary_behavior;
    &.purple {
      background-color: $purple;
    }
  }
}
