@import '../../styles/variables/colors.scss';
@import '../../styles/variables/dimensions.scss';
@import '../../styles//ui/mixins.scss';
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $bcgrnd1;
  border: 1px solid $bcgrnd5;
  border-radius: $radius2;
  width: 100%;
  padding: 24px;
  gap: 12px;
  .top {
    display: flex;
    flex-direction: row;
    gap: 8px;
    h5 {
      font-weight: 600;
      font-size: 18px;
      line-height: 160%;
    }
  }
  a {
    width: 100%;
  }
  button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
    height: 48px;
    width: 100%;
    background-color: $primary1;
    border-radius: $radius2;
    padding: 12px;
    @include btn_primary_behavior;
  }
  img {
    padding: 12px;
    width: auto;
    height: 160px;
  }
}
