.errorMessageModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;

  pre {
    @include t4;
    margin: 0;
    overflow: auto;
    max-height: 360px;
    font-weight: 400;
    color: $text2;
  }
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}