.item {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  text-align: start;
  gap: 8px;
  @include lnks_n_btns5;
  color: $text1;
  cursor: pointer;
  z-index: 11;

  &:hover {
    background-color: $bcgrnd3;
  }

  &:disabled,
  &.disabled {
    @include disabled;
  }
}

.icon {
  @include icon_size_24;
  fill: $text3;
  align-self: center;
}

.dreambuilder {
  height: 14px;
  width: 19px;
}
