.assistantModal {
  min-width: 582px;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  mark {
    @include b1;
  }
}

.distribution {
  @include t3;
  color: $text3;
}

.textarea {
  overflow: hidden;
  padding: 0 3px;
}

.btns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
}

.textMuted {
  color: $text3;
}
