.botCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 280px;
  max-width: 280px;
  min-height: 300px;
  max-height: 300px;
  border: 1px solid $text3;
  border-radius: 12px;
  background-color: $bcgrnd1;
  overflow: hidden;
  @include bot-card_behavior;

  .name {
    @include t4;
    display: block;
    max-height: 40px;
    min-height: 40px;
    width: 100%;
    padding: 8px 16px;
    background-color: $bcgrnd5;
    color: $text1;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .author {
    @include t4;
    display: flex;
    align-items: center;
    gap: 4px;
    color: $text1;

    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 16px;
  }

  .desc {
    color: $text2;
    max-height: 44px;
    @include b3;
    @include hide_text;
  }

  .dateAndVersion {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .date {
    @include b3;
    display: flex;
    align-items: center;
    gap: 4px;
    color: $text2;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .resources {
    padding: 0 16px;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px 16px 16px;
    gap: 12px;
    .container {
      width: 100%;
      display: flex;
      gap: 12px;
      flex-direction: row;
    }
  }
}

.separator {
  height: 1px;
  width: 100%;
  border-top: 1px dashed $text3;
}

.tooltips {
  @include tooltip;
  @include tooltip_for_description;
}
.your {
  min-width: 350px;
  max-width: 350px;
  min-height: 322px;
  max-height: 322px;
  .name {
    background-color: $purple;
    color: $text4;
  }
  .desc {
    max-height: 88px;
    height: 88px;
    -webkit-line-clamp: 4;
  }
  .block {
    gap: 8px;
  }
}
.small {
  min-width: 280px;
  max-width: 280px;
  min-height: 344px;
  max-height: 344px;
  .desc {
    max-height: 110px;
    -webkit-line-clamp: 5;
  }
}
.big {
  min-height: 300px;
  max-height: 300px;
  max-width: 344px;
}
