.botCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 280px;
  max-width: 280px;
  border: 1px solid $text3;
  border-radius: 12px;
  background-color: $bcgrnd1;
  overflow: hidden;
  @include min_max_height;
  @include bot-card_behavior;

  .header {
    display: block;
    max-height: 40px;
    min-height: 40px;
    width: 100%;
    padding: 8px 16px;
    background-color: $bcgrnd5;
    color: $text1;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include t4;
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .author {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $text1;
    @include t4;

    img {
      @include icon_size_24;
      border-radius: 50%;
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 16px;
  }

  .desc {
    color: $text2;
    max-height: 88px;
    @include b3;
    @include hide_text;
    -webkit-line-clamp: 4;
  }

  .dateAndVersion {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .date {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $text2;
    @include b3;

    svg {
      @include icon_size_24;
    }
  }

  .resources {
    padding: 0 16px;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px 16px 16px;
    gap: 12px;
    .container {
      width: 100%;
      display: flex;
      gap: 12px;
      flex-direction: row;
    }
  }
}

.separator {
  @include separator;
}

.tooltips {
  @include tooltip;
  @include tooltip_for_description;
}
.your {
  // min-width: 350px; //this style broke grid on 'yourbots' page
  // max-width: 350px;
  @include min_max_height;
  .header {
    background-color: $purple;
    color: $text4;
  }
  .desc {
    max-height: 110px;
    height: 110px;
    -webkit-line-clamp: 4;
  }
  .block {
    gap: 8px;
  }
}
.small {
  min-width: 280px;
  max-width: 280px;
  @include min_max_height;
  .desc {
    max-height: 110px;
    -webkit-line-clamp: 5;
  }
}
.big {
  max-width: 344px;
  @include min_max_height;
}
