.modal {
  width: fit-content;
  min-width: 468px;
  max-width: 624px;
  padding: 40px 64px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spcng40;
  width: 100%;

  mark {
    display: inline;
    white-space: pre-wrap;
    color: $primary1;
  }

  .h4 {
    text-align: center;
    color: color #000000e6;
    @include h4;
    font-weight: $normal;
  }
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .sign-in-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bcgrnd1;
    border: 1px solid $text3;
    border-radius: 12px;
    @include lnks_n_btns3;

    &:active {
      box-shadow: $shadow;
    }
    &:hover {
      border-color: $primary1;
    }

    img {
      width: 48px;
      height: 48px;
    }
  }
}
