.signInModal {
  max-width: 624px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  mark {
    color: $primary1;
  }
}

.sign-in-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 24px 0 12px;
  background-color: $bcgrnd1;
  border: 1px solid $text3;
  border-radius: 12px;
  @include lnks_n_btns3;

  img {
    width: 48px;
    height: 48px;
  }
}
