.breadcrumbs {
  display: flex;
  font-display: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #3300ff;
  height: 63px;
  width: 40px;
  &:hover {
    background: #f0f0f3;
  }
}
.home {
  width: $topbar_btn;
  height: $topbar_btn;
  background-image: url(../../assets/icons/home.svg);
}
.tooltips {
  @include tooltip;
}
.routes {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  // white-space: 'nowrap';
  .slash {
    color: #8d96b5;
    &::before {
      content: '/';
    }
    @include lnks_n_btns4;
  }
  span {
    @include b3;
    @include accent_text;
  }
}
