.shareModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 32px;
  overflow: hidden;
  .header {
    @include t1;
    align-items: start;
    width: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .top {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .text {
      width: 100%;
      color: $text3;
      @include t3;
      text-align: center;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      cursor: pointer;
      svg {
        width: 61px;
        height: 61px;
        border-radius: 50%;
        &:hover {
          box-shadow: 0px 8px 15px rgba(14, 1, 66, 0.15);
        }
      }
    }
  }

  .text {
    width: 100%;
    color: $text3;
    @include t3;
    text-align: center;
  }
  .lines {
    position: relative;
    display: inline-block;

    &:after {
      content: ' ';
      height: 1px;
      width: 100%;
      background: #f1f1f1;
      position: absolute;
      top: 50%;
      margin-left: 16px;
    }
    &:before {
      content: ' ';
      height: 1px;
      width: 100%;
      background: #f1f1f1;
      position: absolute;
      top: 50%;
      margin-left: calc(-100% - 16px);
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 16px;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}
