.container {
  &.tooltip {
    @include tooltip;
    white-space: pre-wrap;
  }

  &.small {
    @include tooltip_small;
  }

  &.description {
    @include tooltip_for_description;
  }

  &.show {
    opacity: 1;
  }

  .arrow {
    position: absolute;
    background: inherit;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
}
