@import '../../styles/index.scss';

.intentListItem {
  position: relative;
  display: flex;
  max-width: 376px;
  width: 100%;
  max-height: 49px;
  min-height: 49px;
  padding: 0 16px;
  overflow: hidden;

  &:hover {
    background-color: #3300ff1a;
  }

  &:active &__name,
  &:active &__similar {
    color: $primary1;
  }
  &:active &__edit path {
    stroke: $primary1;
  }

  &_status {
    &_good,
    &_warning,
    &_error {
      padding-left: 32px;
      padding-right: 12.5px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 16px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: transparent;
        transform: translateY(-50%);
      }

      &:active::before {
        background-color: $primary1;
      }
    }
    &_good::before {
      background-color: $salad;
    }
    &_warning::before {
      background-color: $orange;
    }
    &_error::before {
      background-color: $red;
    }
  }

  &__name {
    @include b2;
    color: $text1;
  }

  &__similar {
    @include b4;
    color: $text2;
  }

  &__edit {
    background-color: transparent;
  }

  &__edit,
  svg,
  path {
    cursor: pointer;
  }
}
