.generativeSkillEditor {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 24px 0 24px;
  overflow: auto;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include componentType;
  @include modelType;

  img {
    @include icon_size_24;
  }
}

.big-item {
  flex-direction: column;
  align-items: start;
  margin-top: 22px;
}

.prompt {
  white-space: break-spaces;
}

.table-name {
  @include t4;
  color: $text2;
}

.value {
  @include b3;
  display: flex;
  align-items: center;
  gap: 2px;
  color: $text2;

  svg {
    @include icon_size_24;
  }
}

.link {
  width: 100%;
  margin-top: 6px;
  justify-content: flex-end;
  button {
    padding: 0;
    min-height: 100%;
    height: fit-content;
  }
}

.btns {
  width: 100%;
  margin-top: 16px;
  padding: 0 24px 24px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
