@import '../../styles/index.scss';

.element {
  @include stack_element_behavior;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  height: fit-content;
  background-color: $bcgrnd1;
  .left {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    .top {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      .icon {
        cursor: pointer;
        @include icon_size_24;
      }
      .name {
        cursor: pointer;
        @include t3;
      }
    }
  }
  .right {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
  }
  .data {
    cursor: pointer;
    padding-left: 32px;
    color: rgba(0, 0, 0, 0.7);
    @include b4;
  }
}
