@import '../../styles/index.scss';

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  height: 104px;
  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .top {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 8px;
    }
  }
  .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .data {
    display: flex;
    align-items: center;
    text-align: start;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.7);
  }
  .switch {
    background-image: url(@/assets/switch.svg);
    background-repeat: no-repeat;
  }
}
.date {
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
}
.icon {
  @include icon_size_24;
  background-image: url(../../../assets/icons/Skillls.svg);
  background-repeat: no-repeat;
}
