@import '../../styles/ui/mixins.scss';
.add {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 271px;
  min-height: 182px;
  border-radius: 12px;
  background: #ffcc00;
  border: 1px solid #d8dbe5;
  user-select: none;
  @include btn_add-bot-card_behavior;
  img {
    width: 32px;
    height: 32px;
  }
}
