@import '../../../styles/ui/mixins.scss';
@import '../../../styles/variables/colors.scss';

.cpu {
  @include icon_size_24;
  stroke: #8d96b5;
  cursor: pointer;
  svg {
    cursor: pointer;
  }
  &:hover {
    stroke: $text5;
  }
}
