@import '../../../styles/index.scss';

.tab {
  cursor: pointer;
    width: $sidebar-width;
  @include sidebar_btn_height;
  svg {
    cursor: pointer;
    fill: #8d96b5;
    @include icon_size_24;
    &:hover {
      fill: $text5;
    }
  }
}
