@import '../../../styles/variables/dimensions.scss';
.breadcrumbs {
  display: flex;
  font-display: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #3300ff;
  height: $topbar-height;
  width: 40px;
  &:hover {
    background: #f0f0f3;
  }
}
.home {
  width: $topbar_btn;
  height: $topbar_btn;
  background-image: url(../../../assets/icons/home.svg);
}
