@import './../../../styles/ui/mixins.scss';
@import '../../../styles/variables/dimensions.scss';
@import '../../../styles/variables/colors.scss';

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $topbar-height;
  width: 40px;
  svg {
    fill: $text3;
    @include icon_size_24;
  }
  &:hover {
    background: #f0f0f3;
    svg {
      fill: #3300ff;
    }
  }
  &:active {
    svg {
      fill: #190080;
    }
  }
  &:disable {
    opacity: 0.3;
  }
}
