@import './../../../styles/ui/mixins.scss';
@import '../../../styles/variables/dimensions.scss';
@import '../../../styles/variables/colors.scss';

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 40px;
  svg {
    stroke: $text3;
    @include icon_size_24;
  }
  &:hover {
    background: #f0f0f3;
    svg {
      stroke: #3300ff;
    }
  }
  &:active {
    svg {
      stroke: #190080;
    }
  }
  &:disable {
    opacity: 0.3;
  }
}
.tooltips {
  height: 45px;
  background: #8d96b5 !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  padding: 4px 12px !important;
  gap: 10px !important;
  border-radius: 8px !important;
  box-shadow: 0px 8px 15px rgba(14, 1, 66, 0.15);
  z-index: 3;
  offset: 30%;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  &::after {
    left: 20% !important;
  }
}