@import '../../../styles/variables/colors.scss';
@import '../../../styles/ui/mixins.scss';

.dropdown {
  position: relative;
  .arrow {
    @include icon_size_24;
    top: 8px;
    right: 12px;
    position: absolute;
    background-image: url(../../../assets/icons/arrow_down.svg);
  }
  .filter {
    width: 160px;
    height: 40px;
    border: 1px solid $text3;
    border-radius: 12px;
    &::placeholder {
      color: $text3;
      padding: 12px;
    }
  }
}
