@import '../../../styles/ui/mixins.scss';
.avatar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80px;
  img {
    width: 40px;
    height: 40px;
  }
  .arrow {
    @include icon_size_24;
    background-image: url(../../../assets/icons/arrow_down.svg);
  }
}
