@import './../../../styles/index.scss';

.server {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $topbar-height;
  
  cursor: pointer;
  svg {
    cursor: pointer;
    fill: $text3;
    height: $topbar-height;
    width: 65px;
  }
  &:hover {
    background: #f0f0f3;
    svg {
      fill: #3300ff;
    }
  }
  &:active {
    svg {
      fill: #190080;
    }
  }
  &:disable {
    opacity: 0.3;
  }
}
