@import '../../../styles/ui/mixins.scss';
@import '../../../styles/variables/colors.scss';

.search {
  position: relative;
  .loupe {
    position: absolute;
    @include icon_size_24;
    left: 16px;
    top: 8px;
    background-image: url(../../../assets/icons/loupe.svg);
  }
  input {
    width: 300px;
    height: 40px;
    border: 1px solid $text3;
    border-radius: 12px;
    padding: 8px 48px;
    font-size: 16px;
    line-height: 160%;
    color: $text1;
    outline: none;
    cursor: text;
    @include input_behavior;
  }
}
