@import '../../../styles/index.scss';

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: $topbar-height;
  svg {
    cursor: pointer;
    fill: $text3;
    width: 52px;
  }
  &:hover {
    background: #f0f0f3;
    svg {
      fill: #3300ff;
    }
  }
  &:active {
    svg {
      fill: #190080;
    }
  }
  &:disable {
    opacity: 0.3;
  }
}
