.intentList {
  height: 100%;
  width: 100%;
  border: 1px solid $text3;
  border-radius: 12px;
  overflow-y: auto;
  overflow-y: overlay;
  overflow-x: hidden;

  &::-webkit-scrollbar-thumb {
    background-color: $bcgrnd5;
  }
}
