.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  gap: 16px;
  padding-bottom: 22px;
}
.btnL {
  left: -20px;
  @include slider_btns;
  &.privateAssistants {
    border-color: $purple;
  }
}
.btnR {
  right: -20px;
  @include slider_btns;
  &.privateAssistants {
    border-color: $purple;
  }
}
.subWrapperL {
  left: -36px;
}
.subWrapperR {
  right: -36px;
}
