.accordion {
  @include t3;
  display: flex;
  padding: 4px 12px;
  width: 100%;
  max-height: 34px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f0f0f3;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;

  &.annotators {
    background: #d8dbe5;
  }
  &.response_selectors {
    background: #ffcc00;
  }
  &.skill_selectors {
    background: #ffcc00;
  }
  &.skills {
    background: #ff9500;
  }
  &.small {
    max-height: 32px;
    @include b3;
  }
  &.rounded {
    border-radius: 8px;
  }
  &.closed {
    svg {
      transition: ease 0.2s;
      transform: rotate(0deg);
    }
  }

  svg {
    fill: rgba(0, 0, 0, 0.7);
    transition: ease 0.2s;
    cursor: pointer;
    @include icon_size_24;
    transform: rotate(180deg);
  }
}

.elements {
  overflow: hidden;
  transition: height ease 0.2s;
  max-width: 440px;
}
