.accordion {
  @include t3;
  display: flex;
  padding: 4px 12px;
  width: 100%;
  max-height: 34px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f0f0f3;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;

  &.annotators,
  &.candidate_annotators,
  &.response_annotators {
    background: #f0f0f3;
    border: 1px solid #8d96b5;
  }

  &.skill_selectors,
  &.response_selectors {
    background: #ffcc001a;
    border: 1px solid #ffcc00;
  }

  &.skills {
    background: #ff95001a;
    border: 1px solid #ff9500;
  }

  &.small {
    max-height: 32px;
    @include b3;
  }
  &.rounded {
    border-radius: 8px;
  }
  &.active svg {
    transform: rotate(180deg);
  }

  svg {
    fill: rgba(0, 0, 0, 0.7);
    transition: ease 0.2s;
    transform: rotate(0deg);
    cursor: pointer;
    @include icon_size_24;
  }
}

.elements {
  overflow: hidden;
  max-width: 440px;
  transition: height ease 0.2s;
}
