.generativeSkillEditor {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.choose-model {
  padding: 0 24px;
}

.link {
  @include b2;
  text-align: right;
  text-decoration-line: underline;
  color: $primary1;
  margin: 8px 0px;
}

.prompt-block {
  padding: 0 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.label {
  @include b3;
  color: $text2;
}

.count {
  text-align: right;
  color: $text3;
}

.prompt {
  @include b4;
  color: $text2;
  background-color: $bcgrnd2;
  padding: 8px 40px 8px 16px;
  display: flex;
  height: 100%;
  position: relative;
  cursor: pointer;
  white-space: pre-line;
}

.edit-pencil {
  position: absolute;
  top: 8px;
  right: 16px;
  width: 24px;
  height: 24px;
}
