.container {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  @include t4;

  color: $text2;

  //&:focus-within,
  &:hover {
    color: $primary1;

    .checkbox {
      border-color: $primary1;
    }

    .checkmark {
      display: block;
      stroke: $primary1;
    }
  }

  &:has(input:checked) {
    color: $primary1;

    .checkbox {
      border-color: $primary1;
      background-color: $primary1;
    }
    .checkmark {
      display: block;
      stroke: $text4;
    }
  }

  &:has(input:disabled) {
    opacity: 0.3;
  }

  .checkmark {
    display: none;
  }
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  min-width: 20px;
  border: calc(1.5 / 16) + rem solid $text2;
  border-radius: 6px;
  background-color: $bcgrnd1;

  input {
    appearance: none;
    -webkit-appearance: none;

    cursor: pointer;
  }
}

.checkmark {
  stroke: $primary1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.secondary {
  .checkbox {
    border-color: $text3;
  }
  &:hover {
    color: $text3;

    .checkbox {
      border-color: $text3;
    }

    .checkmark {
      stroke: $text3;
    }
  }

  &:has(input:checked) {
    color: $text3;

    .checkbox {
      border-color: $text3;
      background-color: $text3;
    }
    .checkmark {
      display: block;
      stroke: $text4;
    }
  }

  &:has(input:disabled) {
    opacity: 0.3;
  }
}
