$bcgrnd1: #ffffff;
$bcgrnd2: #f9fafc;
$bcgrnd3: #f0f0f3;
$bcgrnd4: #e6e8f0;
$bcgrnd5: #d8dbe5;

$text1: rgba(0, 0, 0, 0.9);
$text2: rgba(0, 0, 0, 0.7);
$text3: #8d96b5;
$text4: #ffffff;
$text5: #3300ff;
$text6: #190080;
$text7: #1f35ff;
$text8: rgba(255, 51, 51, 0.9);

$primary1: #3300ff;
$primary2: rgba(51, 0, 255, 0.1);
$primary3: #f0f0f3;
$primary4: #190080;

$red: #ff3333;
$orange: #ff9500;
$yellow: #ffcc00;
$salad: #00cc99;
$turquoise: #3399cc;
$purple: #7000ff;
$pink: #cc66cc;
$magenta: #ff3366;

$shadow: 0px 0px 20px rgba(100, 99, 99, 0.15);

$primary_btn: #3300ff;
$secondary_btn: #e6e8f0;

$scrollbar-color: $text3;
