.contend {
  font-size: 14px;
  overflow: auto;
  margin-right: 0px;

  .contendTitle {
    min-height: 48px;
    max-height: 48px;
    width: 100%;
    border-bottom: 1px solid #f0f0f3;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    font-size: 18px;
    align-items: center;
    gap: 8px;
    padding-left: 24px;
    padding-right: 36px;
  }

  .assistantBlock {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    padding: 0px 10px;
    text-overflow: ellipsis;

    background: #f4f4f4;
    margin-bottom: 22px;
    box-shadow: 0px 0px 5px #a79a9a;

    .assistantName {
      color: var(--90, rgba(0, 0, 0, 0.9));
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      padding-bottom: 8px;

      &:hover {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
      }
    }

    .skill {
      display: flex;

      .skillBlock {
        width: 100%;
        .skillName {
          color: var(--click, #190080);
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          margin-left: 12px;
          display: flex;
          gap: 5px;

          .massageCountError {
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }

          .error {
            color: #b20000;
          }

          .warning {
            color: #b20000;
          }

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .errorContend {
          border-radius: 6px;
          padding: 4px 8px;
          display: flex;
          align-items: stretch;
          margin-left: 12px;

          .Vline {
            background-color: rebeccapurple;
            width: 2px;
            left: -5px;
            position: relative;
          }

          .cluster {
            display: flex;
            align-items: center;

            &::after {
              content: '';
              width: 10px;
              left: -5px;
              height: 2px;
              display: block;
              position: relative;
              background: rebeccapurple;
            }
          }

          &::before {
            content: '';
            background-color: rebeccapurple;
            width: 2px;
            height: 20px;
            display: block;
            right: 3px;
            top: -20px;
            position: relative;
          }
          .hederError {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            svg {
              min-height: 20px;
              min-width: 20px;
            }

            .infoAll {
              max-width: 250px;
              outline: none;
              resize: none;
              font-family: 'Inter', sans-serif;
              font-style: normal;
              font-weight: 400;
              line-height: 160%;
              font-size: 10px;
              border: none;
              background-color: transparent;
              white-space: pre-line;
            }
          }
          &:last-of-type {
            .Vline {
              transform: translate(0%, -48%);
            }
          }
        }
      }
    }
  }
}

.first {
  &::before {
    height: 0px !important;
  }
}
