.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header {
    p {
      @include t1;
    }
  }
}
