fastapi~=0.83.0
pydantic[email]~=1.9.0
aiohttp~=3.8.1
uvicorn~=0.20.0
pytest~=7.1
git+https://github.com/deeppavlov/deeppavlov_dreamtools@feat/component-methods#egg=deeppavlov_dreamtools
sqlalchemy==2.0.5
psycopg2-binary==2.9.5
requests==2.28.1
python-dotenv
Jinja2==3.1.2
