@import '../../styles/ui/mixins.scss';
@import '../../styles/variables/colors.scss';

.card {
  min-width: 275px;
  max-width: 275px;
  height: 330px;
  min-height: 300px;
  border: 1px solid $text3;
  border-radius: 12px;
  background-color: $bcgrnd1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  @include bot-card_behavior;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  background-color: $orange;
}
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 4px;
}
.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  gap: 4px;
}
.info {
  p {
    hyphens: auto;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.7);
  }
}
.name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 4px;
  gap: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  .company {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4px;
    img {
      @include icon_size_24;
    }
  }
  .type {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
    h6 {
      color: $magenta;
    }
    svg {
      @include icon_size_24;
    }
  }
}
.version {
  padding: 2px 6px;
  width: fit-content;
  height: 24px;
  background: rgba(255, 149, 0, 0.1);
  border: 1px solid $orange;
  border-radius: 4px;
  p {
    color: $orange;
    font-size: 12px;
    line-height: 160%;
  }
}
.icon {
  @include icon_size_24;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 4px;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}
.bottom {
  width: 100%;
  padding: 8px 0px;
}
.clone_btn {
  width: 100%;
  height: 36px;
  color: #000;
  background-color: #f0f0f3;
  border-radius: 10px;
  @include btn_primary_small_behavior;
}
.btns_area {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.kebab {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  background-color: #f0f0f3;
  border-radius: 8px;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.separator {
  margin: 2px 0px;
  border-top: 1px dashed $text3;
}
.icon_calendar {
  @include icon_size_24;
  background-image: url(../../assets/images/calendar.svg);
}
h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: $text1;
}
.params_item {
  font-size: 14px;
  line-height: 160%;
  color: $text2;
}
.params_item__units {
  font-size: 14px;
  line-height: 160%;
  color: $text1;
}
