.createSkillDistModal {
  max-width: 496px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
