.deleteAssistantModal {
  max-width: 496px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.desc {
  @include t3;
  color: $text3;
  margin-top: 8px;
}

.btns {
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
