.baseModal {
  min-width: 624px;
  max-width: 100rem;
  max-height: 50rem;
  width: fit-content;
  background-color: $bcgrnd1;
  border-radius: 24px;
  padding: 48px 64px;
  position: relative;
  color: $text1;
  display: flex;

  h4 {
    @include t1;
  }

  mark {
    background-color: transparent;
    color: $primary1;
  }

  a {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    text-decoration-color: $text1;
    color: $text1;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 24px;
    width: 24px;
    cursor: pointer;

    path {
      stroke: $text3;
    }
  }
}
.baseModal.skillsListModal {
  background-color: #f0f0f3;
  padding: 24px;
}
