.modal {
  padding: 48px 0 36px 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.header {
  padding-inline: 64px;
}

.body {
  display: flex;

  .tariffCard {
    border-right: 1px solid $text2;
    padding-inline: 32px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 350px;
    @include b2;

    &:first-child {
      padding-inline-start: 64px;
    }

    &:last-child {
      border-right: none;
      padding-inline-end: 64px;
    }

    .cardHeader {
      @include t2;
      display: flex;
      gap: 8px;
      align-items: center;

      .small {
        @include b3;
      }
    }

    .string {
      @include t4;
      color: $text2;
      span:first-child {
        @include b3;
      }
    }
  }
}

.footer {
  padding-inline: 64px;

  .formHeader {
    @include t3;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .form {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
