fastapi==0.100.0
pydantic[email]==2.0.2
pydantic-settings==2.0.1
aiohttp~=3.8.1
uvicorn~=0.20.0
sqlalchemy==2.0.5
psycopg2-binary==2.9.5
python-multipart==0.0.5
pydantic[email]
google-auth-oauthlib
httpx
itsdangerous
python-dotenv
PyYAML==6.0
