.properties {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 24px 24px;
  gap: 4px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  @include t3;
  color: $text1;
}

.icon {
  height: 24px;
  width: 24px;

  &[data-disabled] {
    opacity: 0.3;
  }

  path {
    stroke: $text2;
  }
}

.author {
  @include b3;
  display: flex;
  align-items: center;
  gap: 8px;
  svg {
    height: 32px;
    width: 32px;
  }
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include componentType;
  @include modelType;
  img {
    @include icon_size_24;
  }
}

.table-name {
  @include t4;
  color: $text2;
}

.value {
  @include b3;
  display: flex;
  align-items: center;
  gap: 2px;
  text-transform: capitalize;
  svg {
    @include icon_size_24;
  }
}

.desc {
  @include b3;
  margin-top: 8px;
}

.btns {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
.disabled[aria-selected='false'] {
  @include disabled;
}
