.properties {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 24px 24px;
  gap: 4px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  @include t3;
}

.edit-pencil {
  height: 24px;
  width: 24px;

  path {
    stroke: $text2;
  }

  &[data-disabled] {
    opacity: 0.3;
  }
}

.author {
  @include b3;
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.table-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-name {
  @include t4;
  color: $text2;
}

.table-value {
  @include b3;
  display: flex;
  align-items: center;
  gap: 2px;
  text-transform: capitalize;

  svg {
    width: 24px;
    height: 24px;
  }
}

.desc {
  @include b3;
  margin-top: 8px;
}

.btns {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fork button {
  padding: 12px;
  border-radius: 50%;

  svg {
    width: 24px;
    height: 24px;
  }
}

.dictionary {
  color: $orange;
}

.retrieval {
  color: $salad;
}

.fallbacks {
  color: $red;
}
.disabled {
  @include disabled;
}
