.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 16px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3300ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 10px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #8d96b5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3300ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
  border-radius: 50%;
}
