.createAssistantModal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__distribution {
    @include t2;
    color: $text3;
    margin-top: 8px;
  }

  &__mark {
    color: $primary1;
  }

  &__btns {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }

  &__muted-text {
    color: $text3;
  }
}
