.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: $bcgrnd2;
  width: calc(100vw - $sidebar-width);
  height: calc(100vh - $topbar-height);
  gap: 24px;
  padding: 24px 40px;
  z-index: 0;
  overflow: scroll;
}
