.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: $bcgrnd2;
  width: 100vw;
  height: calc(100vh - $topbar-height);
  gap: 24px;
  padding: 40px;
  z-index: 0;
  overflow: scroll;
  &.sidebar {
    left: 80px;
    width: calc(100vw - $sidebar-width);
  }
  &.editor {
    flex-direction: row;
  }
  &.fullWidth{
    flex-direction: row;
  }
}
