.stack {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: fit-content;
  min-width: 310px;
  width: 310px;
  border-radius: 12px;
  box-shadow: 0px 1px 35px rgba(3, 15, 26, 0.05);
  border: 1px solid #8d96b5;

  &.annotators,
  &.candidate_annotators,
  &.response_annotators {
    .header {
      background-color: #8d96b5;
    }
  }

  &.response_selectors,
  &.skill_selectors {
    border-color: #ffcc00;

    .header {
      background-color: #ffcc00;
    }
  }

  &.skills {
    border-color: #ff9500;

    .header {
      background-color: #ff9500;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  height: $stack_header_height;
  padding: 12px;
  gap: 8px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.bottom {
  .data {
    color: rgba(0, 0, 0, 0.7);
    @include b3;
  }
}

.title {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.icon {
  @include icon_size_24;
}
.type {
  @include t2;
}
