.search {
  position: relative;
  height: fit-content;

  &__icon {
    width: 24px;
    height: 24px;
    stroke: $text3;
  }

  &__loupe-btn {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    z-index: 2;
  }

  &__filter-btn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    z-index: 2;
  }

  input {
    padding: 7px 48px;
  }
}
