@import '../../styles/index.scss';

.kebab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e8f0;
  padding: 6px;
  border-radius: 8px;
  @include btn_secondary_small_behavior;
  svg {
    fill: #000;
    @include icon_size_24;
  }
  &:hover {
    svg {
      fill: #fff;
    }
  }
}
