.deleteAssistantModal {
  max-width: 496px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btns {
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}