.first {
  border-left: 1px solid $bcgrnd3;
}
.last {
  border-right: 1px solid $bcgrnd3;
  width: 50px;
}
.value,
.name,
.btn {
  padding-left: 12px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.valid {
  height: 10px;
  width: 15px;
  path {
    stroke: #009973;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading {
  animation: rotate 1.5s linear infinite;
}

.btn {
  padding-right: 12px;
}

svg.buttonIcon {
  path {
    stroke: none;
  }
}
