.routes {
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 2px;

  .slash {
    @include lnks_n_btns4;
    color: $text3;

    &::before {
      content: '/';
    }
  }
}

.route {
  @include b3;
  @include accent_text;
  @include text_ellipsis;
  cursor: pointer;
  margin: 1px 8px;

  max-width: 250px; //FIX
  &:hover {
    color: $primary1;
    border-bottom: 1px solid $primary1;

    a {
      color: $primary1;
    }
  }
}

.active,
.route:active {
  color: #190080;
  border-bottom: 1px solid #190080;

  a {
    color: #190080;
  }
}

.skeleton {
  @include skeleton_loader;
  width: 100px;
  height: 22px;
  border-radius: 4px;

  &:hover,
  .active,
  .route:active {
    border-bottom: none !important;
  }
}
