.botInfoSidePanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  gap: 12px;
  overflow-y: scroll;
  .header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 24px;
  }
  .name {
    color: $text1;
    @include t3;
  }
  .topContainer {
    .main {
      width: 100%;
      display: flex;
      gap: 16px;
    }
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 20px 0 24px;
    margin-right: 4px;
    width: 100%;
  }
  .container {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 20px 0 24px;
    margin-right: 4px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    .scroll {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &::-webkit-scrollbar-thumb {
      background: $bcgrnd5;
    }
  }

  .table {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $text2;
    @include b3;
    li {
      .tableCount {
        color: $text1;
      }
      .type {
        @include t4;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .author {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
    @include b3;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    img {
      @include icon_size_24;
      border-radius: 50%;
    }
  }
  .desc {
    @include b3;
  }
  .accordions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .accordionItem {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 5px 0;
      @include t3;
      .icon {
        @include icon_size_24;
      }
      svg {
        @include icon_size_24;
      }
    }
  }
  .btns {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0 24px;
    align-self: end;
    margin-top: auto;
  }
}

.resourcesBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .header {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .name {
    @include t3;
    color: $text1;
  }
  .tableCount {
    color: $text1;
  }
}
