.baseSidePanel {
  position: relative;
  width: 368px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $bcgrnd1;

  .container,
  [role='tabpanel'] {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.close {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 3px;
  right: 14px;
  align-self: center;
  z-index: 1;
  cursor: pointer;
  background: transparent;

  path {
    stroke: $text3;
  }
}
