.textArea {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  gap: 2px;
  position: relative;
  padding: 24px 0px;
  height: 100%;

  &[data-active='true'] {
    .container {
      box-shadow: none !important;
      color: $text1;
      // padding-right: 69px;
    }

    .resizer {
      display: none;
    }
  }

  &[data-error='true'] {
    .container {
      // &:invalid,
      border-color: $red !important;

      background-color: $bcgrnd1;
    }

    .label {
      color: $red;
    }

    .resizer path {
      stroke: $red;
    }
  }

  &:hover {
    .container {
      border-color: $primary1;
    }
    .resizer path {
      stroke: $primary1;
    }
  }

  &:not(.placeholder):has(.field:disabled) {
    .label {
      color: $text3;
      opacity: 0.3;
    }

    .resizer {
      display: none !important;
    }

    .container {
      background-color: $bcgrnd3;
      color: $text3;
      border-color: $text3;

      opacity: 0.3;
    }

    .field {
      resize: none;

      &::placeholder {
        color: $text3;
      }
    }
  }
}

.fullHeight {
  max-height: 100%;
}

.resize-container {
  resize: both;
  overflow: hidden;

  &::-webkit-resizer {
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.container {
  display: flex;
  min-height: 80px;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid $text3;
  border-radius: 12px;
  padding: 8px;
  background-color: $bcgrnd1;

  &:focus-within {
    box-shadow: 0px 0px 0px 3px rgba(41, 0, 204, 0.3);
    border-color: $primary1;
    color: $text1;
  }
}

.label {
  @include b3;
  color: $text2;
  display: flex;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.about {
  top: 100%;
  transform: translateY(-100%);
}

.title {
  color: $text2;
}

.counter {
  margin-left: auto;
}

.field {
  z-index: 1;
  min-width: 100%;
  min-height: calc(100% - 16px);
  padding: 0px 16px;
  outline: none;
  resize: none;
  @include b2;
  border: none;
  background-color: transparent;

  &::placeholder {
    color: $text3;
    opacity: 0.4;
  }
}

.highlighter {
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 0;
  width: 100%;
  height: calc(100% - 16px);
  padding: 0 24px;
  @include b2;
}

.submit {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: none;

  svg {
    display: none;
  }
}

.submit-active {
  display: block;
}

.resizer {
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 8px;
  right: 8px;
  pointer-events: none;

  path {
    stroke: $text3;
  }
}

.placeholder {
  .title {
    @include t4;
  }
  .container {
    background-color: $bcgrnd2;
    background-color: red;
    &:hover,
    &:focus-within {
      background-color: $bcgrnd1;
    }
  }
}
