.tr {
  border-top: 1px solid #f0f0f3;
  height: 64px;
  color: $text2;

  &:hover {
    color: $text5;
    cursor: pointer;
  }

  &.active .td {
    background-color: $primary2;
  }

  .td {
    &:nth-child(2) {
      padding-left: 0;
    }
    &:nth-child(3) {
      width: 100%;
    }
    &:first-child {
      padding-left: 24px;
    }
    &:last-child {
      padding-right: 24px;
    }
    border: none;
    text-align: start;
    background: #fff;
    padding: 0px 12px;

    .fillIcon {
      fill: $text2;
      @include icon_size_24;
    }
    .strokeIcon {
      stroke: $text2;
      @include icon_size_24;
    }

    .listError > div:first-child {
      padding-left: 0px;
      justify-content: center;
    }
  }
  .checkboxArea {
    background: #fff;
    padding-left: 24px;
  }
}
.description {
  display: flex;
  align-items: start;
  max-height: 64px;
  width: 100%;
  max-width: fit-content;
  @include b3;
  .tooltips {
    @include tooltip;
    @include tooltip_for_description;
  }
  max-height: 44px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.author {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 4px;
  width: 160px;

  img {
    @include icon_size_24;
    border-radius: 50%;
  }
  svg {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
  p {
    display: flex;
    align-items: center;
    color: $text5;
    @include b3;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    @include text_ellipsis;
  }
}
.name {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 170px;
  max-width: 170px;
  .botName {
    @include t4;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .params {
    flex-wrap: nowrap;
    @include b5;
  }
}
.visibility {
  display: flex;
  justify-content: flex-start;
}
.status {
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
}
.lng {
  height: 26px;
  @include d3;
  display: flex;
  width: 36px;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: $text3;
  border: 1px solid $text3;
  border-radius: 8px;
  text-transform: uppercase;
  line-height: 1;
}
.btns_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
// @media (max-width: 1280px) {
//   .description {
//     width: 190px;
//   }
// }
// @media (max-width: 1440px) {
//   .description {
//     width: 300px;
//   }
// }
// @media (min-width: 1600px) {
//   .description {
//     width: 600px;
//   }
// }
// @media (min-width: 1920px) {
//   .description {
//     width: 900px;
//   }
// }
