.edit {
  padding: 6px;
  background-color: $bcgrnd3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.3;
  }

  &:hover .icon,
  &:active .icon {
    stroke: $primary1;
  }
}

.icon {
  max-width: 26px;
  min-width: 26px;
  max-height: 26px;
  min-height: 26px;
  stroke: $text2;
}
