.selectorSettingsSidePanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 24px 24px 24px;
  gap: 16px;

  &__name {
    @include t3;
    color: $text2;
  }

  &__btns {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  &__help {
    margin-right: auto;
    button {
      border-radius: 50%;
      padding: 12px;
    }
  }
}

.settings {
  display: flex;
  flex-direction: column;

  &__field {
    @include b4;
    color: $text2;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
}