.baseModal {
  min-width: 624px;
  max-width: 80%;
  max-height: 80%;
  width: fit-content;
  height: fit-content;
  background-color: $bcgrnd1;
  border-radius: 24px;
  padding: 48px 64px;
  position: relative;
  color: $text1;
  display: flex;

  h4 {
    @include t1;
  }

  mark {
    display: block;
    background-color: transparent;
    color: $primary1;

    @include text_ellipsis;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 24px;
  width: 24px;
  cursor: pointer;

  path {
    stroke: $text3;
  }
}


