.publishAssistantModal {
  max-width: 496px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
.form {
  .body {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .radio {
      display: flex;
      flex-direction: row;
      width: fit-content;
      justify-content: space-between;
      gap: 20px;
      label {
        @include t3;
      }
    }
    .forCheckbox {
      color: $text3;
      @include lnks_n_btns4;
      label {
        color: $text3;
      }
    }
  }
  & p {
    @include t3;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $text2;
  @include t3;
  gap: 32px;
  label {
    width: fit-content;
  }
}
.text {
  color: $text3;
  @include t3;
}
