.promptBlockModule {
  min-width: 146px;
  max-width: 146px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 12px 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.promptBlockModule,
.block,
.type {
  border: 1px solid $text3;
  background-color: $bcgrnd1;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 0;
  z-index: 1;
  min-width: 100%;
  outline: none;
  resize: none;
  @include b2;
  border: none;
  background-color: transparent;
  white-space: pre-line;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
  }
}

.block {
  width: 100%;
  padding: 12px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  @include b4;
  color: $text1;
  line-height: 140%;
}

.type {
  padding: 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 6px;
  @include b4;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
