.hint {
  @include tooltip;
  width: 465px;
  height: fit-content;
  position: absolute;
  left: calc($sidebar-width + 10px) !important;
  top: 58px;
}
.arrow {
  position: absolute;
  left: -9px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #8d96b5;
}
.hidden {
  display: none !important;
}
