.hint {
  width: 465px;
  height: fit-content;
  position: absolute;
  left: calc(100% + 10px);
  top: 0%;
  @include tooltip;
}
.arrow {
  position: absolute;
  background: inherit;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  left: -5px;
  top: 17px;
}
.hidden {
  display: none !important;
}
