.textArea {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  gap: 2px;

  &[data-active='true'] {
    .field {
      box-shadow: none !important;
      color: $text1;
      padding-right: 69px;
    }

    .resizer {
      display: none;
    }
  }

  &[data-error='true'] {
    .field {
      // &:invalid,
      border-color: $red !important;
      background-color: $bcgrnd1;
    }

    .label {
      color: $red;
    }

    .resizer path {
      stroke: $red;
    }
  }

  &:hover .resizer path {
    stroke: $primary1;
  }

  &:has(.field:disabled) {
    .label {
      color: $text3;
      opacity: 0.3;
    }
    .resizer {
      display: none !important;
    }
  }
}

.container {
  position: relative;
  display: flex;
  max-width: 100%;
  // width: fit-content;
}

.label {
  @include b3;
  color: $text2;
}

.field {
  width: 100%;
  min-height: 80px;
  border: 1px solid $text3;
  border-radius: 12px;
  padding: 8px 24px;
  outline: none;
  background-color: $bcgrnd2;
  @include b2;

  &::placeholder {
    color: $text3;
    opacity: 0.4;
  }

  &:hover {
    border-color: $primary1;
    background-color: $bcgrnd1;
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba(41, 0, 204, 0.3);
    border-color: $primary1;
    color: $text1;
    background-color: $bcgrnd1;
  }

  &:disabled {
    background-color: $bcgrnd3;
    color: $text3;
    border-color: $text3;
    resize: none;
    opacity: 0.3;

    &::placeholder {
      color: $text3;
    }
  }

  &::-webkit-resizer {
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.submit {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: none;

  svg {
    display: none;
  }
}

.submit-active {
  display: block;
}

.resizer-container {
  position: relative;
  display: inline-flex;
}

.resizer {
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 8px;
  right: 8px;
  pointer-events: none;

  path {
    stroke: $text3;
  }
}
