@import '@styles/variables/colors.scss';
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-height: 590px;
  width: 100%;
  background-color: $bcgrnd3;
  border-radius: 20px;
  padding: 24px;
  gap: 24px;

  .close {
    right: 12px;
    top: 12px;
    position: absolute;

    svg {
      cursor: pointer;
      stroke: #8d96b5;
      width: 24px;
      height: 24px;
      &:hover {
        stroke: #ff3333;
      }
      &:active {
        stroke: #190080;
      }
      &:disabled {
        opacity: 0.3;
      }
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    button {
      padding: 0px 12px;
      width: 80px;
      height: 36px;
      text-decoration: underline;
      font-family: 'Inter';
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: rgba(0, 0, 0, 0.9);
    }
    span {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 160%;
      color: rgba(0, 0, 0, 0.9);
    }
  }
}

