.input {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  gap: 2px;

  &[data-active='true'] {
    .field {
      box-shadow: none !important;
      color: $text1;
      padding-right: 69px;
    }
  }

  &[data-error='true'] {
    .label {
      color: $red;
    }

    // &:invalid,
    .field {
      border-color: $red !important;
      background-color: $bcgrnd1;
    }
  }

  &:has(.field:disabled) {
    opacity: 0.3;
    color: $text3 !important;
  }
}

.container {
  position: relative;
  display: flex;
}

.label {
  @include b3;
  color: $text2;
}

.field {
  width: 100%;
  height: 40px;
  border: 1px solid $text3;
  border-radius: 12px;
  padding: 7px 24px 7px 24px;
  outline: none;
  background-color: $bcgrnd2;
  @include b2;

  &::placeholder {
    color: $text3;
    opacity: 0.4;
  }

  &:hover {
    border-color: $primary1;
    background-color: $bcgrnd1;
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba(41, 0, 204, 0.3);
    border-color: $primary1;
    color: $text1;
    background-color: $bcgrnd1;
  }

  &:disabled {
    background-color: $bcgrnd3;
    color: $text3;
    border-color: $text3;

    &::placeholder {
      color: $text3;
    }
  }
}

.submit {
  position: absolute;
  top: 6px;
  right: 6px;
  display: none;

  svg {
    display: none;
  }
}

.submit-active {
  display: block;
}
