@import '../../styles/variables/dimensions.scss';
@import '../../styles/variables/colors.scss';

.topbar {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: $topbar_height;
  background-color: $bcgrnd1;
  border-bottom: 1px solid $bcgrnd3;
  box-shadow: $shadow;
  z-index: 2;
  .btns_area {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 16px;
    gap: 24px;
    img {
      width: 40px;
      height: 40px;
    }
    .sign {
      padding: 0px 24px;
      gap: 9px;
      width: 94px;
      height: 36px;
      background: #f0f0f3;
      border-radius: 8px;
      font-size: 14px;
      line-height: 160%;
    }
  }
  .logo_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0px 14px;
    gap: 12px;
    color: #3300ff;
    background-color: $bcgrnd1;
    .logo {
      width: 45px;
      height: 36px;
      background-image: url(../../assets/images/dream_logo.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $bcgrnd1;
    }
    h3 {
      font-size: 18px;
      line-height: 160%;
    }
  }
  .another_area {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
