.topbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100vw;
  // @include min-w;
  height: $topbar_height;
  background-color: $bcgrnd1;
  border-bottom: 1px solid $bcgrnd3;
  box-shadow: 0px 0px 20px rgba(100, 99, 99, 0.15);
  position: relative;
  z-index: 2;
  &.editor {
    box-shadow: 78px 0px 20px rgba(100, 99, 99, 0.15);
  }
  .btns_area {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 64px;
    width: 100%;
    padding: 16px;
    img {
      width: 40px;
      height: 40px;
    }
    .watch {
      &:active {
        color: #3300ff;
      }
      &:disabled {
        opacity: 0.3;
      }
    }
  }
  .signin {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0px 14px;
    gap: 12px;
    color: #3300ff;
    background-color: $bcgrnd1;
    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 160%;
    }
  }
  .another_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 12px;
  }
  .yet_another_area {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    padding: 0px 24px;
    gap: 12px;
    height: 63px;
    background: #f9fafc;
    border: 1px solid #f0f0f3;
    border-bottom: none;
    border-top: none;
  }
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltips {
  @include tooltip;
  &::after {
    top: -2px !important;
  }
}
