.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .header {
    @include t1;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.backdrop {
  top: 64px;
  height: calc(100% - 64px);
  z-index: 5;
}

.modal {
  width: 80vw;
  background-color: #f0f0f3;
  padding: 24px;
  position: relative;
  transition: margin 0.3s ease-out, width 0.3s ease-out;

  &.withRightSidePanel {
    margin-right: 368px;
    width: calc(90vw - 295px);
  }
}
