.scroll {
  width: 100%;
  border-radius: 12px;
  overflow: auto;

  .table {
    width: 100%;
    border-collapse: collapse;
    .thead {
      tr {
        height: 60px;
        min-height: 60px;
        z-index: 1;
        @include sticky;
        .th {
          &:first-child {
            // width: 240px;
            padding-left: 24px;
          }

          &:nth-child(2) {
            // width: 160px;
            padding-left: 0;
          }

          // &:nth-child(3) {
          //   // width: 100%;
          // }

          // &:nth-child(4) {
          //   width: 110px;
          // }

          // &:nth-child(5) {
          //   width: 20px;
          // }

          padding: 24px 12px 8px;
          background: #fff;
          color: #8d96b5;
          text-align: start;
          border: none;
          @include b3;
        }
        .checkboxArea {
          height: 60px;
          min-height: 60px;
          display: flex;
          font-display: row;
          align-items: center;
          justify-content: start;
          background: #fff;
          padding: 24px 24px 8px;
          padding-right: 0;
          svg {
            @include icon_color;
            @include icon_size_24;
          }
        }
      }
    }
  }
}

.body {
  background-color: $bcgrnd1;
}
