.dialogSidePanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 368px;

  &_start,
  &_error {
    padding: 52px;
    align-items: center;
    justify-content: center;
    text-align: center;

    button {
      @include large_btn;
      @include lnks_n_btns3;
      @include primary_btn;
      @include btn_primary_behavior;
    }
  }

  &_error {
    color: #ff3b30;
    button {
      background-color: #ff3b30;
    }
  }

  &__alert-name {
    margin-bottom: 16px;
    font-weight: $bold;
  }

  &__alert-desc {
    @include b3;
    margin-bottom: 40px;
  }

  &__controls {
    display: flex;
    padding: 8px 24px;
    border: 1px solid $bcgrnd3;
    background-color: inherit;
    gap: 16px;
    align-items: center;
  }

  &__control {
    display: flex;
    align-items: center;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__textarea {
    @include b1;
    min-height: 160px;
    max-height: 160px;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    padding: 24px;
    color: $text3;

    &::-webkit-input-placeholder, /* Webkit based */
      &::placeholder {
      color: $text3;
      opacity: 0.4;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 24px 12px;
    background-color: inherit;

    button {
      @include large_btn;
      @include lnks_n_btns3;
      @include primary_btn;
      @include btn_primary_behavior;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: -12px;
}

.deepy {
  width: 32px;
  height: 35px;
}

.container {
  position: relative;
  width: 368px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.chat {
  width: 100%;
  height: 100%;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 24px;
  background-color: $bcgrnd2;

  &__message {
    @include b2;
    background-color: $bcgrnd3;
    padding: 12px;
    border-radius: 12px 12px 0px 12px;
    width: fit-content;

    &_bot {
      background: rgba(255, 204, 0, 0.1);
      border-radius: 12px 12px 12px 0px;
      cursor: pointer;
      &:hover {
        background: rgba(255, 204, 0, 0.2);
      }
      &:active {
        background: rgba(255, 204, 0, 0.3);
      }
    }
  }

  &__avatar {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    background: rgba(255, 204, 0, 0.1);
    border-radius: 50%;
  }

  &__container {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    height: fit-content;
    width: 100%;
    justify-content: flex-end;

    &_bot {
      justify-content: flex-start;
    }
  }
}

.close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 24px;
  align-self: center;
  z-index: 1;
  cursor: pointer;

  path {
    stroke: $text3;
  }
}
