.sidePanelHeader {
  min-height: 48px;
  max-height: 48px;
  width: 100%;
  border-bottom: 1px solid $bcgrnd3;
  display: flex;
  @include t2;
  align-items: center;
  gap: 8px;

  [role='tablist'] {
    display: flex;
    padding: 0 60px 0 24px;
    gap: 24px;
    overflow: hidden;
    height: 100%;
  }

  [role='tab'] {
    padding: 8px 0;
    color: $text3;
    cursor: pointer;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    width: fit-content;

    @include text_ellipsis;

    &:has([aria-selected='true']) {
      padding-bottom: 0;
      height: 100%;
    }

    &[data-disabled='true'] {
      opacity: 0.3;
    }
  }

  [role='name'] {
    color: $text1;
    @include b1;
    @include text_ellipsis;
  }

  [aria-selected='true'] {
    border-bottom: 2px solid $primary1;
    color: $text1;
  }
}
