@import '/../../styles/index.scss';

.dropdown {
  position: relative;
  z-index: 3;
  .arrow {
    @include icon_size_24;
    top: 8px;
    right: 12px;
    position: absolute;
    background-image: url(../../../assets/icons/arrow_down.svg);
  }
  .categories {
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $text3;
    line-height: 17px;
    width: 160px;
    height: 40px;
    border: 1px solid $text3;
    padding: 12px;
    border-radius: 12px;
    &::placeholder {
      color: $text3;
    }
  }
  .menu {
    position: absolute;
    top: 0px;
    padding-top: 40px;
    width: 160px;
    height: 184px;
    background: #ffffff;
    border: 1px solid #8d96b5;
    box-shadow: 0px 8px 15px rgba(14, 1, 66, 0.15);
    border-radius: 12px;
    z-index: -1;
    overflow: hidden;
    .item {
      button {
        text-align: start;
        width: 100%;
      }
      label {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 12px;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      padding: 0px 12px;
      gap: 12px;
      width: 158px;
      height: 36px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: rgba(0, 0, 0, 0.9);
      &:hover {
        background-color: $bcgrnd3;
      }
    }
  }
}
