@import '../../styles/index.scss';

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  height: 40px;
  gap: 10px;
  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}
