.intentCatcherSidePanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    gap: 16px;
    padding: 12px 24px 24px 24px;
  }
}

.training {
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px 24px;
  gap: 8px;
  color: $text2;

  &__progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: $bcgrnd4;
    border-radius: 4px;

    &::before {
      content: '';
      position: absolute;
      width: 42px;
      height: 100%;
      background-color: $primary1;
      border-radius: 4px;
      top: 0;
      left: 0;
      animation: infiniyBarLoading 3s linear infinite;
    }
  }

  &__status {
    @include t3;
  }

  &__about {
    @include b3;
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}

@keyframes infiniyBarLoading {
  0% {
    left: 0%;
  }

  50% {
    left: 100%;
    transform: translateX(-100%);
  }

  100% {
    left: 0%;
  }
}
