.module {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100%;
  justify-content: space-between;
  background-color: $bcgrnd3;

  .body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    height: 100%;
    .title {
      @include t1;
    }

    .annotations {
      @include b1;
    }

    .add {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 16px;

      input {
        height: 48px;
      }
    }

    .tokens {
      margin-top: -24px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .token {
      @include b1;
      width: 100%;
      height: 37px;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 12px;
      padding: 0 12px;
      background-color: $bcgrnd2;
      color: $text1;
    }

    .tokenName {
      @include hide_text;
      width: 100%;
      -webkit-line-clamp: 1;
    }

    .icon {
      min-width: 24px;
      min-height: 24px;
      max-width: 24px;
      max-height: 24px;
      margin-right: 4px;
    }

    .right {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .validate {
      @include b1;
      color: $primary1;
    }

    .remove {
      @include b1;
      color: $red;
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      .attention {
        border-radius: 50%;
        background-color: rgba(51, 0, 255, 0.1);
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          stroke: $primary1;
          @include icon_size_24;
        }
        .annotation {
          color: rgba(0, 0, 0, 0.7);
          @include b1;
        }
      }
    }
  }
}
