.module {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  justify-content: space-between;
  background-color: $bcgrnd3;
  overflow: auto;
  padding: 0 48px 12px 0;

  .body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      @include t1;
    }

    .annotations {
      @include b3;
    }

    .add {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 16px;

      input {
        height: 48px;
      }
    }
  }
  .checkboxString label {
    @include t4;
    font-weight: 500;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $text2;

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      .attention {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          stroke: $primary1;
          @include icon_size_24;
        }
      }
      .annotation {
        flex-grow: 1;
        @include b3;
      }
      button {
        white-space: nowrap;
        display: flex;
        gap: 8px;
        align-self: flex-end;

        .buttonIcon {
          path {
            stroke: none;
          }
        }
      }
    }
  }
}
